<h2>Bookmarks</h2>

<h3>Items</h3>
<table class = "table table-bordered">
    <tr>
        <th>Name</th> 
        <th>Price</th>
        <th>Delete</th>
    </tr>

<% @bookmarks.each do |bookmark| %>
    <tr>
        <td><%= bookmark.item.name %></td>
        <td><%= bookmark.item.price %></td>
        <td><%= link_to "Delete", bookmark, method: :delete %></td>
    </tr>
    <% end %>
</table>
<br></br>
<h3>Quotes</h3>
<table class = "table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Delete</th>
        
<% @favourite_quote.each do |fq| %>
    <tr>
        <td><%= fq.quote %></td>
        <td><%= fq.price  %> </td>
        <td><%= link_to "Delete", quote_path(fq), method: :delete %></td>
       
    </tr>
    <% end %>
</table>