<h3>Search quotes</h3>
    <div>
      <br>
    <%= form_tag(quotes_path, method: :get) do %>
      <%= text_field_tag :search, nil, :placeholder => "Search quote here" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    </br>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

    <table class = "table table-striped table-bordered">
 
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Year</th>   
        </tr>
   
        <% @quotes.each do |movie| %>
          </tr>
            <td><%= movie["movie"]["title"] %></td>
            <td><%= movie["content"] %></td>
            <td><%= movie["year"] %></td>
            <td><%=link_to 'Favourite', quotes_path({favourite_quote: movie["content"]}), method: :post  %></td>
          </tr>
        <%end%>

    </table>
    
    </div>
  </div>
</div>