<h1>Login</h1>
 
<%= form_for(@session_form, url: login_path) do |f| %>
    <%#binding.pry%>
    <%= render "shared/error_messages", obj: @session_form %>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
    
    
<%end%>