<h1>Basket</h1>

<% %>
<div class="card" style="width: 18rem;">
    
    
  <div class="card-body">
    <% @basket_items.each do |basket_item| %>
    <p class="card-text"> <%= basket_item.id %></p>
    <h5 class="card-title"><%= basket_item.name %></h5>
    <p class="card-text">£ <%= basket_item.price %></p>
     <%= link_to 'Destroy', basket_item_path(@basket_items, {basket_item: basket_item.id}), method: :delete%> 
    <% end %>
   
  </div>
  
 
  
  
  
</div>