
<div class="container">
   <div class="row">
     <div class="col-xs-12">

<table class = "table table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th> 
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Hide</th>
    <th>Add</th>
    <th>Bookmark</th>
  </tr>
  <% @items.each do |item| %>
      <tr>
        <td> <%= link_to item.id, item %> </td>
        <td> <%= item.name %> </td>
        <td> £ <%= item.price %> </td>
        <td> <%= link_to 'Edit', edit_item_path(item) %> </td>
        <td> <%= link_to 'Delete', item, method: :delete   %> </td>
        <td><%= link_to 'Hide', item, method: :hide %></td>
        <td> <%= link_to "Add to Basket", basket_items_path({item_id: item.id}), method: :post %> </td>
        <td><%= link_to 'Bookmark', bookmarks_path({item_id: item.id}), method: :post %></td>
      </tr>
    <% end %>

 
</table>
  
    </div>
  </div>
</div>
  
<%= link_to "New Items", new_item_path %>
<div>
  <%= form_for :search_params, url: search_items_path, method: :get do |f| %>
    Search <%= f.text_field :name %>
    Search min <%= f.text_field :min %>
    Search max <%= f.text_field :max %>
  <%= f.submit 'Search' %>
    
<% end %>

</div>


