<h1> New item </h1>



<%= form_for @item do |f|   %>
    <%= render 'shared/error_messages', obj: @item %>    
    <%= f.label :name %>
    <%= f.text_field :name%>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.submit "Create new item", class: "btn btn-primary" %>
<% end %>