<h3>Result</h3>
<table class = "table table-bordered">
    <tr>
        <th>Name</th> 
    </tr>
    
    <% @items.each do |item|%>
    
        <tr>
            <td><%= item.name %></td>
        </tr>
    <%end%>

  
</table>